.navbar {
    .user-info {
        ul {
            background-color: white;
            border: 1px solid;
            border-radius: 6px 0px 6px 6px;
            padding: 0px 5px;
            a:not(:last-child) {
                border-bottom: 1px solid;
                :last-child {
                    font-size: 25px;
                }
            }
        }
    }
}