.wrapper-sidebar {
    position: absolute;
    width: 100%;
    background: rgb(255 255 255 / 50%);
    height: 100vh;
    top: 0;
    left: 0;
}
.sidebar {
    background-color: #1C658C;
    height: 100vh;
    width: fit-content;
    position: relative;
    z-index: 2;
    li {
        padding: 10px 0px;
        a {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;
            color: #fff;
            &:hover {
                background: rgba(255,255,255,.1);
                color: #fff;
            }
        }
    }
    .menu {
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 1;
        color: red;
        font-size: 23px;
        cursor: pointer;
    }
}